
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF ;
    color: #fff;
}

.container {
    position: relative;
    margin: 10px;
    height: 1055px;
    padding: 20px;
    background-color: #FF7381;
    border-radius: 25px;
    
    
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    justify-content: space-between;
    

}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    
    
}


.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 40%;

}



ul{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    justify-content: space-evenly;
    
    }

ul li{
    font-size: 20px;;
}
ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover{
    background-color: FF7381;
    color: black;
    width: 20px;
}

.user-account {
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-icon img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.account-info {
    background-color: #FF8A92;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.account-info p {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
}

.content-wrapper {
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    width: 1581px;
    height: 562px;
}

.content-wrapper .content {
    max-width: 500px;
    color: #FF7381;
    
}

.content-wrapper h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.line-one{
    position: absolute;
    width: 559px;
    top: 150px;
    left: 60px;
    border-top: 1px solid gray;
}
.line-two{
    position: absolute;
    border-top: 1px solid gray;
    top: 185px;
    left: 60px;
    width: 150px;
}
.line-three{
    position: absolute;
    border-top: 1px solid gray;
    top: 185px;
    left: 278px;
    width: 341px;
}
.line-four{
    position: absolute;
    border-top: 1px solid gray;
    top: 219px;
    left: 60px;
    width: 219px;
}
.line-five{
    position: absolute;
    border-top: 1px solid gray;
    top: 219px;
    left: 339px;
    width: 278px;
}


.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.register {
    background-color: white;
    
    border: 1px solid black;
    
    
}
.register a{
    text-decoration: none;
    color: black;
 
}


.request {
    background-color: #FF8A92;
    
    border: 1px solid #FF8A92;
    
}
.request a{
    text-decoration: none;
    color: black;
}

.poster img {
    width: 600px;
    max-width: 600px;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.poster{
    position: absolute;
    right: 110px

}

.content p{
    color: #fff;
}
.content h2{
    color: #fff;
}

.All-course1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1%;
    padding-top: 5%;
    
}

/* Course Box */
.coursee1 {
    
    background-color: rgb(234, 115, 115);
    border: 1px solid #ccc;
    border-radius: 10px;
    
    width: 20%; /* Adjust width to fit 4 boxes in a row */
    height: 20vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px; /* Consistent spacing between rows */
    overflow: hidden; /* Ensure content doesn't overflow */
    min-width: 270px;
    justify-content: center;
    align-items: center;
}
.course-info{
    position: sticky;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
   
} 
.course-info > h1{
    margin-top: 10px;
}
.course-info > p{
    font-size: 20px;
    margin: 10px 0 10px 0;
} 



/* Course Hover Effect */
.coursee1:hover {
    transform: translateY(-5px);
    background-color: #31b0d5; /* Bright Blue */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

  .text-box{
    width: max-content;
    color: rgb(163, 26, 26);
    position: absolute;
    top: 80px;
    left: 60px;
    
    
 }
 .text-box h1{
    font-size: 40px;
    font-style: italic;
 
 }
 .text-box h1 span{
   color: #ff004c;
   animation: animate 4s ease-in-out infinite;
   font-style: italic;
 }
 
 @keyframes animate
 {
   0%,100%
   {
      clip-path: polygon(0% 45%, 15% 44%, 32% 50%,
            54% 60%, 70% 61%, 84% 59%, 100% 52%,
            100% 100%, 0% 100%);
   }
   50%
   {
      clip-path: polygon(0 60%, 16% 65%, 34% 66%,
            51% 62%, 67% 50%, 84% 45%, 100% 46%, 100%
          100%, 0% 100%)
   }
 }
 .blood{
   width: max-content;
   color: transparent;
   position: absolute;
   top: 80px;
   left: 60px;
   
   
 }
 .blood h1{
   font-size: 40px;
   font-style: italic;
 }
 .blood h1 span{
   -webkit-text-stroke: 2px #ff004c;
   font-style: italic;
 }
 .blood p{
   
   font-size: 28px;
   color: transparent;
 }

 @media (max-width: 1000px) {
    header {
      flex-direction: column;
    }
    ul {
        flex-direction: column;
        align-items: center;
      }
    ul li{
        padding: 10px;
        
    }
    .user-account{
        flex-direction: column;
    }
    .container{
        height: 150vh;
    }
  }